*{
    margin: 0;
    padding: 0;
}
body{
    background: violet;
}
.container{
    position: relative;
    width: 70%;
    margin: auto;
}
.slider{
    margin: 100px auto;
    width: 100%;
    height: 450px;
    color: white;
}
.prev{
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}
.next{
    position: absolute;
    top: 50%;
    right: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.slider.show{
    display: block;
}
.slider.hide{
    display: none;
}
h1{
    text-align: center;
}